.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 24px;

  padding: 16px;

  background-color: rgb(185, 230, 189);

  border-radius: 16px;

  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.06),
    0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-avatar {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  object-fit: cover;
}

.user-name {
  margin: 0;

  font-size: 18px;
  font-weight: bold;
}

.user-email {
  color: #64748b;
}